<html>
  <head>
    <title>Calculate Sum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Enter Sum</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="number-one" name="numberone" value="{{
          request.form.numberone }}">
         <input type="text" placeholder="number-two" name="numbertwo" value="{{
          request.form.numbertwo }}">
        <input class="btn btn-default" type="submit">
      </form>
        <p> The calculated value is {{value}} </p>
    </div>
  </body>
</html>
